extends ../layout

include ../mixins/comment-snippet

block content
  
   button(class="btn btn-warning float-end" type="button" onclick=`location.href='?page=${paginator+1}&limit=10'`) next
   button(class="btn btn-warning float-start" type="button" onclick=`location.href='?page=${paginator-1}&limit=10'`) prev
   br
   hr
   h1= title
   button(class="btn btn-primary" type="button" onclick="location.href='comments/create'") Add Comment
   .container
     each comment in listComments
       +commentSnippet(comment)
      
